[access]
	inheritFrom = All-Projects
[project]
	description = Parent code that holds the pom.xml to build all the repos (Casablanca)
[access "refs/*"]
	owner = group saml/onap-gerrit-policy-parent-committers
	read = group GitHub Replication
[plugin "its-jira"]
	enabled = true
[commentlink "its-jira"]
	match = Issue-ID: ([A-Z][A-Z0-9]{1,9}-\\d+)
	link = https://jira.onap.org/browse/$1
